<div class="loader" id="loader">
  <div class="loader__inner">
    <p class="loader__brand">THE DARK SQUARE</p>
    <p class="loader__sub">ARTISAN CHOCOLATES</p>
    <p class="loader__label">Progress</p>

    <div class="loader__drip">
      <div class="loader__drip-stream"></div>
      <div class="loader__drip-pool"></div>
    </div>

    <div class="loader__track">
      <div class="loader__bar" data-loader-bar></div>
    </div>

    <p class="loader__status">
      Flavours loading<span class="loader__dots">…</span>
    </p>
  </div>
</div>
